.message-container
{
    border: 2px solid black;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 6fr 1.5fr;
    grid-gap: 5px;
}

.message-time-container
{
    border: 2px solid black;
    padding: 3px;
}